@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  background-color: pink;
}
.box {
    width: 80%;
    position: center;
    margin: auto;
  overflow: auto;
}
#main {
 width: 100%;
 padding: 0;
}
.content-asset p {
 margin: 0 auto;
}
.breadcrumb {
 display: none;
}
.margin-top-10 {
 padding-top: 10px;
}
.margin-bot-10 {
 padding-bottom: 10px;
}
#landing h1 {
 font-family: 'Oswald', sans-serif;
 font-size: 24px;
 font-weight: 400;
 text-transform: uppercase;
 color: white;
 padding: 0;
 margin: 0;
}
#landing h2 {
 font-family: 'Oswald', sans-serif;
 font-size: 70px;
 letter-spacing: 10px;
 text-align: center;
 color: white;
 font-weight: 400;
 text-transform: uppercase;
 z-index: 10;
 opacity: .9;
}
#landing h3 {
 font-family: 'Oswald', sans-serif;
 font-size: 14px;
 line-height: 0;
 font-weight: 400;
 letter-spacing: 8px;
 text-transform: uppercase;
 color: black;
}
#landing p {
 font-family: 'Source Sans Pro', sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 24px;
}
.first-character {
 font-weight: 400;
 float: left;
 font-size: 60px;
 line-height: 60px;
 padding-right: 7px;
 font-family: 'Source Sans Pro', sans-serif;
}
.fl {
	color #a644a88a;
}
#landing .title {
 background: pink;
 padding: 60px;
 margin: 0 auto;
 text-align: center;
}
#landing .title h1 {
 color: white
 font-size: 35px;
 letter-spacing: 8px;
}
#landing .block {
 background: pink;
 padding: 6px;
 width: 820px;
 margin: 0 auto;
 text-align: center;
}
#landing .block-gray {
 background: #f2f2f2;
 padding: 6px;
}
#landing .section-overlay-mask {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: black;
 opacity: 0.70;
}
#landing .parallax-one {
 padding-top: 200px;
 padding-bottom: 200px;
 overflow: hidden;
 position: relative;
 width: 100%;
 background-image: url("https://raw.githubusercontent.com/yulyafatyanova/homework/main/uhodzarukami_3.jpg");
 background-attachment: fixed;
 background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-repeat: no-repeat;
 background-position: top center;
}
#landing .parallax-two {
 padding-top: 200px;
 padding-bottom: 200px;
 overflow: hidden;
 position: relative;
 width: 100%;
 background-image: url("https://raw.githubusercontent.com/yulyafatyanova/homework/main/chistka-590.jpg");
 background-attachment: fixed;
 background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-repeat: no-repeat;
 background-position: top center;
}
#landing .parallax-three {
 padding-top: 200px;
 padding-bottom: 200px;
 overflow: hidden;
 position: relative;
 width: 100%;
 background-image: url("https://raw.githubusercontent.com/yulyafatyanova/homework/main/Depositphotos_75406647_l-2015.jpg");
 background-attachment: fixed;
 background-size: cover;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 background-repeat: no-repeat;
 background-position: top center;
}
#landing .line-break {
 background: linear-gradient(60deg, #008000, #ffd700, #dc143c);
 width: 100%;
 margin: 0 auto;
}
@media screen and (max-width: 767px) {
 #flat .block {
  padding: 30px;
  width: 420px;
 }
 #flat h2 {
  font-size: 30px;
 }
 #flat .block {
  padding: 30px;
 }
 #flat .parallax-one, #flat .parallax-two, #flat .parallax-three {
  padding-top: 100px;
  padding-bottom: 100px;
 }
}
@media screen and (max-width: 479px) {
 #flat .block {
  padding: 30px 15px;
  width: 290px;
 }
}
